<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>

<tr th:fragment="title">
  <td style="text-align: center" colspan="3">
    <div class="rectangle-card"
         style="width: 277px; height: auto; min-height: 100px; border-radius: 5px; border: solid 1px #dfe2e9; background-color: #ffffff; padding: 21px 0 0 13px; margin: auto;">
      <img alt="document" style="width: 40px; height: 45px;" th:src="@{${frontEndAddress}+ ${isIndeedENV ? 'image/documentIndeed.png' : 'image/document.png'}}">
      <div th:text="${documentTitle}" style="word-break: break-word"></div>
    </div>
  </td>
</tr>

<tr th:fragment="message" th:if="${message}">
  <td colspan="3">
    <div class="annotation-card" style="margin-top: 27px; font-size: 14px; line-height: 1.36; color: #606163; word-break: break-word;text-align: center" th:text="${message}"></div>
  </td>
</tr>

<tr
    th:fragment="requster"
    th:style="'font-size:' + @{(${#strings.length(senderName)} > 34 ? '14px' : '18px')} + '; line-height: ' + @{(${#strings.length(senderName)} > 34 ? '1.36' : '0.78')} + ';height: 46px;color: #2e3033; letter-spacing: 0.4px;'">
  <td align="center" style="padding: 15px">
    <table>
      <tbody>
      <tr>
        <td style="line-height: 0px;">
          <img
              th:if="${senderAvatar}"
              style="float:left; width: 45px; height: 45px; border: 1px solid gray; border-radius: 50%; overflow: hidden"
              th:src="${senderAvatar}"
          />
          &nbsp;
          <div
              th:if="${senderAvatar} == null"
              th:style="|background: ${backgroundColor}| + ';width: 45px;height: 45px; border-radius: 50%; color: white; text-align: center;vertical-align: middle;line-height: 45px;'"
              th:text="${avatarText}">
          </div>&nbsp;
        </td>

        <td>
          <table>
            <tbody>
            <tr>
              <td style="padding: 10px 0">
                <span th:text="${senderName}" style="color: #0075DF; width: fit-content; line-height: 1.5"></span>
                <span th:switch="${requestType}">
                  <span th:case="SIGN">Requested Your Signature</span>
                  <span th:case="ACKNOWLEDGE">Requested Your Acknowledgement</span>
                  <span th:case="VIEW">Sent You a Document</span>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>

</body>
</html>
