<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>

<tr th:fragment="title">
  <td style="text-align: center" colspan="3">
    <div class="rectangle-card"
         style="width: 277px; height: auto; min-height: 100px; border-radius: 5px; border: solid 1px #dfe2e9; background-color: #ffffff; padding: 21px 0 0 13px; margin: auto;">
      <img alt="document" style="width: 40px; height: 45px;" th:src="@{${frontEndAddress}+'image/document.png'}">
      <div th:text="${documentTitle}" style="word-break: break-word"></div>
    </div>
  </td>
</tr>

<tr th:fragment="message" th:if="${message}">
  <td colspan="3">
    <div class="annotation-card" style="margin-top: 27px; font-size: 14px; line-height: 1.36; color: #606163; word-break: break-word;text-align: center" th:text="${message}"></div>
  </td>
</tr>

</body>
</html>
