<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<table style="width: 490px;" th:fragment="comment"
       th:if="${comment} or ${approverComments}">
  <tbody>
  <tr style="overflow: hidden;padding: 15px 0;" th:if="${comment}">
    <td>
      <table>
        <tbody>
        <tr>
          <td>
            <table>
              <tbody style=" width: 45px;">
              <tr>
                <td>
                  <img
                      th:if="${requesterImageUrl}"
                      style="float:left; width: 45px; height: 45px; border: 1px solid gray; border-radius: 50%; overflow: hidden"
                      th:src="@{${pathPrefix+requesterImageUrl}}"
                  >
                  <div
                      th:if="${requesterImageUrl} == null"
                      th:style="|background: ${backgroundColor}| + '; float:left; width: 45px;height: 45px; border-radius: 50%; color: white; text-align: center;vertical-align: middle;line-height: 45px;'"
                      th:text="${avatarText}">
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </td>

          <td>
            <table style="width: 420px;">
              <tbody>
              <tr>
                <td
                    style="float:right; width: 420px; border-radius: 5px; border: solid 1px #dfe2e9; position: relative;">

                  <div
                      style="text-align: left; font-size: 14px; max-height: 100%; width: 400px; height: fit-content; margin: 15px; overflow: hidden; text-overflow: ellipsis; line-height: 1.3;"
                      th:text="${comment}">
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <tr style="overflow: hidden; padding: 15px 0;" th:each="approverComment : ${approverComments}">

    <td>
      <table>
        <tbody>
        <tr>
          <td>
            <table style=" width: 420px;">
              <tbody>
              <tr>
                <td
                    style="width: 420px; border-radius: 5px; border: solid 1px #dfe2e9; position: relative; float: left">

                  <div
                      style="text-align: left; font-size: 14px; max-height: 100%; width: 400px; height: fit-content; margin: 15px; overflow: hidden; text-overflow: ellipsis; line-height: 1.3;"
                      th:text="${approverComment.comment}">
                  </div>


                </td>
              </tr>
              </tbody>
            </table>
          </td>

          <td>
            <table style="width: 45px;">
              <tbody>
              <tr>
                <td>
                  <img
                      th:if="${approverComment.imageUrl}"
                      style="float: right; width: 45px; height: 45px; border: 1px solid gray; border-radius: 50%; overflow: hidden"
                      th:src="@{${pathPrefix+approverComment.imageUrl}}"
                  >
                  <div
                      th:if="${approverComment.imageUrl} == null"
                      th:style="|background: ${approverComment.backgroundColor}| + ';float: right; width: 45px;height: 45px; border-radius: 50%; color: white; text-align: center;vertical-align: middle;line-height: 45px;'"
                      th:text="${approverComment.avatarText}">
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>


<tr th:fragment="time">
  <td>
    <div style="margin: auto; padding-top: 10px; border: solid 1px #dfe2e9;
      font-size: 16px; text-align: center; line-height: 1.56;  width: 277px;
      border-radius: 5px;">
      <div style="width: 42px;height: 42px;min-height:42px;margin-top: 28px;margin-bottom: 12px;
    background-color: #F2F1FE; display: inline-flex;align-self: center;
    justify-self: center;align-items: center; justify-content: center;
    border-radius: 50%;">
        <img
            th:if="${isIndeedENV}"
            style="margin:auto;"
            th:src="@{${frontEndAddress}+'image/indeed.timeOff.png'}">
      </div>
      <img
          th:if="${!isIndeedENV}"
          style="margin: 10px auto; height: 60px; width: 60px;"
          th:src="@{${frontEndAddress}+'image/timeOff.png'}">

      <div style="font-weight: 500" th:text="${type}">Vacation</div>

      <div style="padding-bottom: 20px;font-size: 16px;line-height: 1.5; text-align: center;">
        <span th:text="${timeRange}"></span>
        <div>(<span th:text="${hours}"></span>&nbsp;hours)</div>
      </div>
    </div>
  </td>
</tr>

<tr
    th:fragment="requster"
    th:style="'font-size:' + @{(${#strings.length(requesterName)} > 34 ? '14px' : '18px')} + '; line-height: ' + @{(${#strings.length(requesterName)} > 34 ? '1.36' : '0.78')} + ';height: 46px;color: #2e3033; letter-spacing: 0.4px;'">
  <td align="center" style="padding: 15px">
    <table>
      <tbody>
      <tr>
        <td style="line-height: 0px;">
          <img
              th:if="${requesterImageUrl}"
              style="float:left; width: 45px; height: 45px; border: 1px solid gray; border-radius: 50%; overflow: hidden"
              th:src="${pathPrefix+requesterImageUrl}"
          />
          &nbsp;
          <div
              th:if="${requesterImageUrl} == null"
              th:style="|background: ${backgroundColor}| + ';width: 45px;height: 45px; border-radius: 50%; color: white; text-align: center;vertical-align: middle;line-height: 45px;'"
              th:text="${avatarText}">
          </div>&nbsp;
        </td>

        <td>
          <table>
            <tbody>
            <tr>
              <td style="padding: 10px 0">
                <a
                    th:style="'text-decoration: none;'+${isIndeedENV ? 'color: #2557a7;' : 'color: #0075DF'}"
                    th:href="@{${frontEndAddress}+'employees/'+${requesterId}}"
                    th:text="${requesterName}">name</a>
                <span th:switch="${isDeleteRequest}">
                  <span th:case="true">Deleted a Time Off Request</span>
                  <span th:case="*">Requested Time Off</span>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr th:fragment="viewDetail">
  <td align="center"
      th:style="'margin-top: 30px; padding: 30px;  background: #f7f8fa;'
      +${isIndeedENV ? 'font-weight: bold;display:flex;align-items:center;justify-content:center;' : 'font-weight: 500;'}"
      >
    <a th:style="'text-decoration: none; cursor: pointer; padding-right: 10px;'
        +${isIndeedENV ? 'margin: 0 auto ': ''}"
       th:href="@{${frontEndAddress}+'time-off'}">
      <div
          th:style="'border: solid 1px #d8dadf; background-color: white;'+${isIndeedENV? 'border-color:#DFE2E9;width: fit-content; height: 50px; border-radius: 8px; padding:0 16px;':'width: 170px; height: 40px; border-radius: 20px; '}">
        <div
            th:style="'text-align:center; '+${isIndeedENV ? 'color: #2557a7;line-height: 50px;width: fit-content;font-weight: bold;' : 'color: #0075DF;line-height: 40px;'}">
          View Details
        </div>
      </div>
    </a>
  </td>
</tr>


</body>
</html>
