<!DOCTYPE html>
<html
    lang="en"
    th:fragment="layout (content)" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto" media="all" rel="stylesheet"
        type="text/css">
</head>
<body>
<center th:style="'background-color: ' + ${isIndeedENV ? '#f3f2f1' : '#f0f2f5'} + ';width: 615px; padding: 32px 0px; margin: auto;'">
  <table align="center" style="padding: -1px 24px; border: 0; width: 600px">
    <tbody>
    <tr align="center" style="width: 565px">
      <td style="padding-bottom: 20px;">
        <img style="height: 37px"
             th:src="@{${frontEndAddress} + 'image/'+${isIndeedENV ? 'FullWidthWithIndeedLogo' : 'FullWidthSimplyHiredLogo'}+'.png'}">
      </td>
    </tr>

    <tr align="center"
        style="margin-top: 14px; background-color: #ffffff; border-radius: 4px; width: 552px;">
      <td style="padding: 0;">
        <table th:replace="${content}">Layout content</table>
      </td>
    </tr>

    <tr align="center" style="font-size: 13px; line-height: 1.38; color: #7b7e84">
      <td style="padding-top: 24px;">
        <table>
          <tr>
            <td align="center">
              © <span th:if="${currentYear} != null" th:text="${currentYear}"></span>
              <span th:text="${isIndeedENV ? 'Indeed HRIS':'SimplyHired'}"></span>
            </td>
          </tr>
          <tr>
            <td align="center"
            th:text="${isIndeedENV ? '6433 Champion Grandview Way, Building 1,' : '2711 Centerville Road, Suite 400'}">
            </td>
          </tr>
          <tr>
            <td align="center"
            th:text="${isIndeedENV ? 'Austin, TX 78750' : 'Wilmington, Delaware 19808'}"
            >
            </td>
          </tr>
          <tr th:if="${isIndeedENV}">
            <td align="center">
              PRIVACY POLICY | TERMS | HELP CENTER |
            </td>
          </tr>
          <tr th:if="${isIndeedENV}">
            <td align="center">
              UNSUBSCRIBE
            </td>
          </tr>
        </table>
      </td>
    </tr>
    </tbody>

  </table>
</center>
</body>
</html>
