<!DOCTYPE html>
<html
    lang="en"
    th:fragment="layout (content)" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto" media="all" rel="stylesheet"
        type="text/css">
</head>
<body>
<center style="margin: auto; background-color: #edeef2; width: 615px; padding: 32px 0px">
  <table align="center" style="padding: -1px 24px; border: 0; width: 600px">
    <tbody>
    <tr align="center" style="width: 565px">
      <td style="padding-bottom: 20px;">
        <img style="width: 202px; height: 37px"
             th:src="@{${frontEndAddress} + 'image/FullWidthSimplyHiredLogo.png'}">
      </td>
    </tr>

    <tr align="center"
        style="margin-top: 14px; background-color: #ffffff; border-radius: 4px; width: 552px;">
      <td style="padding: 0;">
        <table th:replace="${content}">Layout content</table>
      </td>
    </tr>

    <tr align="center" style="font-size: 13px; line-height: 1.38; color: #7b7e84">
      <td style="padding-top: 24px;">
        <table>
          <tr>
            <td align="center">
              © 2019 SimplyHired
            </td>
          </tr>
          <tr>
            <td align="center">
              177 Broad St, Stamford, CT 06901
            </td>
          </tr>
          <tr>
            <td align="center">
              <a style="text-decoration: none; color: #0075DF" th:href="@{${helpUrl}}">Help</a>
            </td>
          </tr>
        </table>
      </td>

    </tr>
    </tbody>

  </table>
</center>
</body>
</html>
