<!DOCTYPE html>
<html lang="en"
      th:replace="~{base_email :: layout(~{::section})}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<section align="center"
         style="width: 100%;">
  <table style="width: 100%; min-height: 465px; border-collapse: collapse;">
    <tbody>
    <tr>
      <td style="display: block">
        <table
          style="height: 352px; background-color: white; padding: 40px 32px 40px 32px; width: 100%;">
          <tbody>
          <tr>
            <td
              style="font-family: Roboto;font-size: 24px;line-height: 1.38; color: #2e3033;text-align: center;">
              Invitation Email Could Not Be Delivered
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <div
                style="width: 277px;height: 177px;border-radius: 5px;border: solid 1px #dfe2e9; margin-top: 30px;display: inline-block;">
                <img
                  th:src="@{${avatarUrl}}"
                  style="width: 92px;height: 92px; margin-top: 24px; border-radius: 50%;border: 1px solid #dfe2e9;margin-left: auto;margin-right: auto;display: flex; align-items: center; justify-content: center; color: white; font-size: 1.5em;text-align: center;display: inline-block;vertical-align: middle;line-height: 90px;"/>
                <span
                  style="font-size: 16px;font-weight: 500;line-height: 1.56;color:#2e3033; text-align: center; margin-top: 16px; margin-bottom: 16px; display: block;"
                  th:text="${userName}"></span>
              </div>
            </td>
          </tr>
          <tr>
            <td
              style="margin-top: 30px; line-height: 1.38;text-align: center; color: #7b7e84;font-size: 16px;font-family: Roboto;">
              <div
                style="margin-top: 30px;"
                th:text="|The invitation email sent to
                ${userEmail} on ${sentDate} could not be delivered| + '. Please verify that the email address is correct and try again.'">
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center">
              <a
                th:href="@{${userLink}}"
                style="display: inline-block;text-decoration: none;width: 164px;height: 40px;border-radius: 20px;box-shadow: 2px 2px 4px 0 rgba(72, 142, 255, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.12); background-color: #0074de;font-size: 14px;font-weight: 500;line-height: 40px;letter-spacing: 0.24px;text-align: center; color: white; margin-top: 20px;border: 0;outline: none;"
              >
                View
                Employee
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</section>
</body>
</html>
