<!DOCTYPE html>
<html lang="en"
      th:replace="~{base_email :: layout(~{::section})}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<section align="center"
         th:style="'background-color: ' + ${isIndeedENV ? '#f3f2f1' : '#f0f2f5'} + '; padding-bottom: 119px; width: 100%;'">
  <table style="width: 100%; min-height: 465px; border-collapse: collapse;">
    <tbody>
    <tr>
      <td th:style="'width: 100%; height: 38px; text-align: center; border-radius: 4px; background-color: ' + ${isIndeedENV ? '#FBE9DF' : '#FFF5EF'} + '; padding: 14px'">
        <img style="width: 19px;height: 20px;margin-right: 8px; vertical-align: -5px;" th:src="@{${frontEndAddress}+${isIndeedENV ? 'image/WarningIndeed.png' : 'image/pending.png'}}"/>
        Awaiting Your Signature
        <span th:if="${dueDate} != null" th:text="'- Due ' + ${dueDate}" style="color: #7b7e84;"></span>
      </td>
    </tr>
    <tr>
      <td style="display: block">
        <table style="height: 352px; background-color: white; padding: 26px 32px 30px 32px; width: 100%;">
          <tbody>
          <tr th:replace="components/document_components::requster"></tr>
          <tr th:replace="components/document_components::title"></tr>
          <tr>
            <td colspan="3">
              <div class="button-card" style="padding-bottom: 30px; border-bottom: solid 1px #dfe2e9;">
                <a th:style="${isIndeedENV ? 'padding:unset;width:151px;height:52px;font-size:16px;font-weight:bold;line-height:3.27;background:#2557A7;border:unset;border-radius:8px;color:#ffffff;' : 'padding: 10px 20px; border-radius: 20px; background: #0075DF; border: 1px solid transparent;width: 151px;font-size: 14px; font-weight: 500; line-height: 1.17; color: #ffffff;'} +'margin-top: 30px; text-decoration: none;cursor: pointer; display: block;margin-left: auto; margin-right: auto;letter-spacing: .2px; text-align: center;'"
                   th:href="@{${frontEndAddress} + 'documents'}"
                th:text="${isIndeedENV ? 'Review & sign' : 'Review & Sign'}">
                </a>
              </div>
            </td>
          </tr>
          <tr th:replace="components/document_components::message"></tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</section>
</body>
</html>
