<!DOCTYPE html>
<html lang="en"
      th:replace="~{base_email :: layout(~{::section})}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<section align="center"
         style="background-color: #edeef2; padding-bottom: 119px; padding-top: 58px; width: 100%;">
  <table style="background-color: #FFFFFF; padding: 20px;width: 600px; margin-left: auto; margin-right: auto;">
    <tr>
      <td style="line-height: 1.38; text-align: center;">
        <img alt="logo" th:src="${frontEndAddress} + 'image/alert.png'" title="logo">
      </td>
    </tr>
    <tr>
      <td style="font-size: 16px; line-height: 1.38; text-align: center;">
        Your Password Has Changed
      </td>
    </tr>
    <tr>
      <td style="font-size: 16px; line-height: 1.38; color: #7b7e84; text-align: center;">
        <span>The password for your SimplyHired account has been changed.</span>
      </td>
    </tr>

  </table>
  <div align="center" style="background-color: #f7f8fa; padding-bottom: 30px; padding-top: 30px; width: 600px; height: auto">
    <table>
      <tr>
        <td style="display: block; width: 100%; line-height: 1.38; text-align: center;">
          <span style="font-size: 16px">Wasn’t you?</span>
        </td>
      </tr>
      <tr>
        <td style="width:315px; text-align: center;">
        <span style="font-size: 15px; color: grey;">
          if you did not request change, please check with your account admin. If your account
          admin did not make this change, please <a style="text-decoration: none; color: #0075DF" th:href="@{${contactUrl}}">contact us</a>
 to retrieve your account.
        </span>
        </td>
      </tr>
    </table>
  </div>
</section>
</body>
</html>
