<!DOCTYPE html>
<html lang="en"
      th:replace="~{base_email :: layout(~{::section})}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto" media="all" rel="stylesheet"
        type="text/css">
</head>
<body>

<section>
  <div style="width: 552px;border-radius: 4px;
  font-size: 14px;font-family: Roboto;background-color: #ffffff;">

    <div style="width: 552px;height: 53px;display: flex;
    align-items: center;justify-content: center; color: #2e3033;"
         th:styleappend="${status}=='APPROVED'? 'background: #f3fffd;' : 'background: #ffefef;'"
    >
      <img style="width: 19px;height: 20px;margin-right: 8px;"
           th:if="${status} eq 'APPROVED'"
           th:src="@{${frontEndAddress}+'image/approve.svg'}">

      <img style="width: 19px;height: 20px;margin-right: 8px;"
           th:if="${status} eq 'DENIED'"
           th:src="@{${frontEndAddress}+'image/deny.svg'}">
      &nbsp;&nbsp;
      <span th:text="${status} eq 'APPROVED'? 'Approved': 'Denied'"></span>
    </div>

    <div style="padding: 27px 0;font-size: 24px; text-align: center; line-height: 1.38;">
      Pending Time Off Request
    </div>

    <div style="text-align: center; font-size: 16px; line-height: 1.5;">
      <a style="text-decoration: none;color: #488eff;"
         th:href="@{${frontEndAddress}+'employees/'+${approverId}}"
         th:text="${approverName}"></a>
      &nbsp;
      <span th:text="${status}=='APPROVED'? 'approved': 'denied'"></span>
      &nbsp;your&nbsp;
      <span th:text="${type}"></span>
      &nbsp;time off
      <span th:if="${status}!='APPROVED'">*</span>
    </div>

    <div th:replace="components/request::time"></div>

    <div th:replace="components/request::comment"></div>

    <div
        style="padding-top:15px;display: flex; justify-content: center; align-items: center; font-weight: 500;">
      <a style="text-decoration: none;cursor: pointer; padding-right: 10px"
         th:href="@{${frontEndAddress}+'time-off'}">
        <div
            style="width: 170px; height: 40px; border-radius: 20px; border: solid 1px #d8dadf; background-color: white;">
          <div style="text-align:center; line-height: 40px; color: #488eff;">View Full Details</div>
        </div>
      </a>
    </div>

    <div style="padding: 30px 33px 0px 33px;width: 487px;text-align: center;color: gray;"
         th:if="${status}!='APPROVED'"
    >
      *The requested hours have been added back to your Vacation time off balance
    </div>

    <div style="padding: 15px 0px;"></div>

  </div>
</section>

</body>
</html>