<!DOCTYPE html>
<html lang="en"
      th:replace="~{base_email :: layout(~{::table})}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto" media="all" rel="stylesheet"
        type="text/css">
</head>
<body>

<table style="border-spacing: 0px;width: 100%;">
  <tbody
      th:style="'width: 552px;border-radius: 4px;font-size: 14px;background-color: #ffffff;'
      +${isIndeedENV ? 'font-family: Noto Sans;' : 'font-family: Roboto;'}"
  >
  <tr>

    <td align="center"
        th:style="'width: 552px;padding: 15px;'+
        ${isIndeedENV ? 'color: #2d2d2d;background-color: #FEEEEF;' : 'background-color: #EFFFF6; color: #2e3033;'}"
        >
      <img style="width: 19px;height: 20px;vertical-align: -5px;"
           th:src="@{${frontEndAddress}+'image/deny.png'}">
      <span>Denied by</span>
      <span th:text="${approverName}"></span>
    </td>
  </tr>

  <tr th:if="${isLimited}">

    <td>
      <table align="center"
             style="margin-top: 20px; line-height: 1.36; border-radius: 4px; width: 488px; padding: 20px 22px; font-size: 14px; text-align: center; background: #f7f8fa; color: gray;">
        <tbody>
        <tr>
          <td>
            *<span th:text="${hours}">16</span> hours have been added back to your <span  th:text="${type}"></span> time off
            balance
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <tr>
    <td style="display: block">
      <table
          style="height: 352px; background-color: white; padding: 26px 25px 30px 25px; width: 100%;">
        <tbody>
          <tr th:if="${toManager}" th:replace="components/request::requster"></tr>

          <tr th:replace="components/request::time"></tr>
        </tbody>
      </table>
    </td>
  </tr>


  <tr>
    <td style="padding-top: 15px;">
      <table width="552px" style="padding: 0 30px">
        <tbody>
        <tr>
          <td th:insert="components/request::comment" style="padding: 15px 0;">

          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <tr th:replace="components/request::viewDetail"></tr>

  </tbody>
</table>

</body>
</html>
