<!DOCTYPE html>
<html lang="en"
      th:replace="~{base_email :: layout(~{::table})}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto" media="all" rel="stylesheet"
        type="text/css">
</head>
<body>

<table style="border-spacing: 0px;width: 100%;">
  <tbody style="width: 552px;border-radius: 4px;
  font-size: 14px;font-family: Roboto;background-color: #ffffff;">

  <tr>
    <td align="center"
        style="width: 522px;padding: 15px;background-color: #EFFFF6; color: #2e3033;">
      <img style="width: 19px;height: 20px;vertical-align: -5px;"
           th:src="@{${frontEndAddress}+'image/approve.png'}">
      &nbsp;&nbsp;
      <span>Approved by</span>&nbsp;
      <span th:text="${approverName}">approver name</span>
    </td>
  </tr>


  <tr th:if="${toManager}" th:replace="components/request::requster"></tr>

  <tr th:replace="components/request::time" style="margin: 20px">
  </tr>

  <tr>
    <td style="padding-top: 15px;">
      <table width="552px" style="padding: 0 30px">
        <tbody>
        <tr th:if="${isLimited}">
          <td
              style="border-top: solid 1px #dfe2e9;padding: 20px 0; margin: 0 30px; font-weight: 500; align-items: center;">
            Remaining Balance:
            <span th:text="${remain} + (${remain} > 1 ? ' Hours': 'Hour')"></span>
          </td>
        </tr>
        <tr>
          <td
              style="font-weight: 500;border-top: solid 1px #dfe2e9; border-bottom: solid 1px #dfe2e9; padding: 20px 0; align-items: center;">
            Time Off Conflicts: <span th:text="${conflict}"></span>
          </td>

        </tr>
        <tr>
          <td th:insert="components/request::comment" style="padding: 15px 0;">

          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>


  <tr th:replace="components/request::viewDetail"></tr>

  </tbody>
</table>

</body>
</html>
