<!DOCTYPE html>
<html lang="en"
      th:replace="~{base_email :: layout(~{::section})}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto" media="all" rel="stylesheet"
        type="text/css">
</head>
<body>

<section>
  <div style="width: 552px;border-radius: 4px;
  font-size: 14px;font-family: Roboto;background-color: #ffffff;">
    <div style="width: 552px;height: 53px;background-color: #fff9f1;
     display: flex;text-align: center;align-items: center;justify-content: center;
       color: #2e3033;">
      <img style="width: 19px;height: 20px;margin-right: 8px;"
           th:src="@{${frontEndAddress}+'image/pending.svg'}">
      &nbsp;&nbsp;Awaiting your approval
    </div>
    <div th:insert="components/request::requster" style="margin: 20px">
    </div>


    <div th:replace="components/request::time"></div>

    <div style="padding: 0 30px">
      <div
          style="border-top: solid 1px #dfe2e9; height: 52px; font-weight: 500;display: flex; align-items: center;">
        Remaining Balance if Approved:
        <span th:text="${remain} + (${remain} > 1 ? ' Hours': 'Hour')"></span>
      </div>
      <div
          style="font-weight: 500;border-top: solid 1px #dfe2e9; border-bottom: solid 1px #dfe2e9; height: 52px; display: flex; align-items: center;">
        Time Off Conflicts: <span th:text="${conflict}"></span>
      </div>

    </div>

    <div th:replace="components/request::comment"></div>
    <div style="background: #f7f8fa;">
      <div
          style="padding-top:15px;display: flex; justify-content: center; align-items: center; font-weight: 500;">
        <a style="text-decoration: none;cursor: pointer; padding-right: 10px"
           th:href="@{${frontEndAddress}+'time-off/requests'}">
          <div
              style="width: 120px; height: 40px; border-radius: 20px; border: solid 1px #d8dadf; background-color: white;">
            <div style="text-align:center; line-height: 40px; color: #488eff;">Deny</div>
          </div>
        </a>
        <a style="text-decoration: none;cursor: pointer; padding-left: 10px"
           th:href="@{${frontEndAddress}+'time-off/requests'}">
          <div style="width: 120px; height: 40px; border-radius: 20px; background-color: #488eff;">
            <div style="text-align:center; line-height: 40px;color: white">Approve</div>
          </div>
        </a>
      </div>
      <div
          style="font-size: 14px; width: fit-content; margin: auto; padding: 30px;">
        <a style="color: #488eff;cursor: pointer; text-decoration: none;"
           th:href="@{${frontEndAddress}+'time-off/requests'}">View Full
          Details</a>
    </div>

    </div>
  </div>
</section>

</body>
</html>