@import "../../Style";

.login {

  .sign-in {

    .login-form {
      min-width: 300px !important;
      width: 360px;
      background-color: white;
      border-radius: 12px;
      margin: auto;
      z-index: 2;

      label {
        color: #2e3033;
        font-size: 12px;
        line-height: 1.17;
      }

      .ant-form-item-label {
        line-height: 0;

        label::after {
          display: none;
        }
      }

      .anticon.anticon-global {
        color: rgb(196, 198, 206) !important;
        margin-left: 2px !important;
      }

      .ant-select-selection__placeholder {
        margin-left: 25px !important;
      }
    }


    .p-style {
      text-align: center;
      height: 42px;
      line-height: 42px;
      font-size: 36px;
      margin-top: 28px;
    }
  }
}
