{
  "plugins": [
    "stylelint-scss"
  ],  
  "extends": "stylelint-config-airbnb",
  "rules": {
    "max-nesting-depth": null,
    "scss/at-extend-no-missing-placeholder": null,
    "at-rule-empty-line-before": null,
    "order/order": null,
    "selector-max-id": null
  }
}
